<div class="my-5">
    <div class="h4">Projects List</div>
    <div class="row">
        <div class="card col-3" *ngFor="let project of projectList">
            <img src="assets/img/proyecto.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a href="#" class="mt-auto btn btn-primary">Ver Detalle</a>
            </div>
        </div>
    </div>
</div>